

.woocommerce-MyAccount-navigation
  background: $mute-color
  border: solid 1px $mute-border-color
  +radius

  ul
    list-style: none

  li.woocommerce-MyAccount-navigation-link
    line-height: 3
    font-weight: bold

    &::before
      width: 30px
      height: 30px
      line-height: 30px
      text-align: center
      display: inline-block
      font-family: "Lunacon"
      content: ''
      margin-right: $the__global__padding
      color: $secondary-color
      +radius

  .is-active::before
    background: $secondary-color !important
    color: $mute-color !important


  li.woocommerce-MyAccount-navigation-link--dashboard::before
    content: $unicode-dashboard

  li.woocommerce-MyAccount-navigation-link--orders::before
    content: $unicode-basket-solid

  li.woocommerce-MyAccount-navigation-link--downloads::before
    content: $unicode-download

  li.woocommerce-MyAccount-navigation-link--edit-address::before
    content: $unicode-address-book

  li.woocommerce-MyAccount-navigation-link--edit-account::before
    content: $unicode-user-solid

  li.woocommerce-MyAccount-navigation-link--customer-logout::before
    content: $unicode-logout
