.hero
  position: relative
  overflow: hidden
  display: block
  width: 100%
  height: 100%
  height: 100vh
  color: #fff
  text-shadow: rgba(#000, 0.75) 0 2px 10px
  +media-down(md)
    height: 50%
    height: 50vh

  .wrapper
    position: relative
    z-index: 2

  &__heading
    font-size: 72px
    margin: 0
    padding: 0
    +media-down(sm)
      font-size: 42px

  .center-the-block
    position: absolute
    top: 50vh
    transform: translateY(-50%)
    z-index: 5
    +media-down(md)
      top: 25vh

  .site-description
    font-size: 150%
    padding: $the__global__padding 0
    margin: 0
    color: #fff

  a
    text-decoration: none


    &:hover
      text-decoration: none


  .site-title
    color: #fff

.wp-custom-header
  position: absolute
  z-index: 1
  height: auto
  left: 50%
  max-width: 1000%
  min-height: 100%
  min-width: 100%
  min-width: 100vw
  width: auto
  top: 50%
  transform: translateX(-50%) translateY(-50%)

  img,
  video,
  iframe
    max-width: 1000%
    min-height: 100%
    min-width: 100%
    min-width: 100vw




.wp-custom-header-video-button
  position: absolute
  top: 30px
  right: 30px
  display: block
  width: 60px
  height: 60px
  background: rgba(#000, 0.75)
  border: solid 1px #000
  overflow: hidden
  +radius
  text-indent: 500px
  cursor: pointer
  z-index: 10

  &::after
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    text-align: center
    line-height: 60px
    font-family: "Lunacon"
    color: #fff
    text-indent: 0px

.wp-custom-header-video-play::after
  content: $unicode-bell-solid

.wp-custom-header-video-pause::after
  content: $unicode-bell-mute-solid



/* For browsers that support 'object-fit' */
@supports ( object-fit: fill )
  .wp-custom-header
    position: absolute
    margin: 0
    padding: 0
    & video,
    & img,
    & iframe
      // position: absolute
      margin: 0
      margin-top: -50px
      padding: 0
  		height: 100%
  		left: 0
  		object-fit: fill
  		top: 0
  		transform: none
  		width: 100%
